<!DOCTYPE html>
<html>
<head>
<title>Tabela</title>

</head>
<body style="background-color:powderblue;">

    <!-- home: nome reservado para a rota "/" -->
<a href="{{ url_for("home") }}">Página inicial</a> <br>

<h1>Tabela</h1>
Exemplo de tabela:

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Email</td>
        <td>Telefone</td>
    </tr>
    <tr>
        <td>João da Silva</td>
        <td>josilva@gmail.com</td>
        <td>47-99878-7865</td>
    </tr>
    <tr>
        <td>Maria Oliveira</td>
        <td>maliv@gmail.com</td>
        <td>47-99231-1245</td>
    </tr>
</table>

</body>
</html>